body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  header {
      background-color: #333;
      color: #fff;
      padding: 0px;
      text-align: center;
  }
  
  .banner {
    background-image: url( './images/cat-black.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 29vw;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position: center -31rem;
  }

  .banner-title {
      font-size: 36px;
  }
  
  .obras {
      padding: 20px;
  }
  
  .sections {
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 6rem;
  }
  
  .section-item {
      margin-bottom: 10px;
  }
  
  .text-anchor {
      text-decoration: none;
      color: #333;
      font-weight: bold;
  }
  
  #sobre-mi, #proyectos {
      background-color: #fff;
      padding: 20px;
      margin: 20px 0;
  }
  
  h2 {
      font-size: 24px;
      margin-bottom: 10px;
  }
  
  p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
  }
  
  footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
  }
  
  .copyright {
      font-size: 14px;
  }

/** Form */
.contact-form.form {
    background: #f1f1f1;
    border-radius: 0.5rem;
    border: 1px dotted transparent;
    margin: 0 auto;
    padding: 3rem;
    width: 50%;
}
.field {
    display: flex;
    flex-direction: column;
    margin: 0.6rem 0;
}
label {
    margin: 0 0 0.3rem 0;
    font-weight: 400;
}
.input,
.textarea {
    border: none;
    border-bottom: 1px solid gray;
    padding: 0.6rem;
    border-radius: 0.3rem;
}
.field.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
button.btn {
    padding: 0.4rem 1.2rem;
    margin: 1rem 0 0 0;
    border-radius: 0.3rem;
}
.btn-send {
    background: gray;
    border: 1px solid gray;
    color: white;
    font-weight: bold;
}
.btn-cancel {
    background: lightgray;
    border: 1px solid lightgray;
    color: rgb(94, 94, 94);
    font-weight: bold;
}

